/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @-ms-viewport{
   width: device-width;
 }

body {
  background: url('https://food.fnr.sndimg.com/content/dam/images/food/fullset/2015/11/20/0/fnd_beer-istock.jpg.rend.hgtvcom.616.462.suffix/1448031613421.jpeg');
  background-size: 100%;
  font-family: 'Montserrat', sans-serif;
}

body div.container {
  margin: 35px auto;
  padding: 20px;
  background-color: rgba(250,235,215,0.8);
  border-radius: 3px;
  border: 1px solid grey;
  -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
}

li {
  padding: 1% 0;
  list-style: none;
}

ul {
  margin-top: 2%;
  padding-left: 0px;
}

a {
  color: peru;
}

hr {
border-top: 1px dotted #8c8b8b;
}

/* MOBILE FORMS*/

label {
  margin-top: 10px;
  margin-bottom: 0;
}

input {
  margin-top: 10px;
  width: 100%;
  height: 40px;
}

input[type="submit"]{
  border-radius: 2%;
  background-color: rgba(233,176,48,0.9);
  border: none;
}

input[type="radio"]{
  margin-top: -10px;
}

textarea {
  width: 71%;
  max-width: 100%;
}

/* LOG OUT BUTTON */

#log-out input[type="submit"] {
  width: 100px;
  margin: 0 auto;
  position: static;
  top: 50px;
  right: 10px;
  text-align: center;
  background-color: rgba(178,34,34,0.5);
  border: 1px solid rgba(178,34,34,0.8);
  font-size: 1.2em;
}

#log-out {
  float: right;
}

/* NAVIGATION LINKS */

nav {
  font-size: 1.4em;
  margin-top: 3%;
}

.smaller-nav {
  font-size: 1.2em;
  margin-top: 2%;
}


/* PARTYS COLUMNS */

.col-md-4 {
  padding: 2%;
}

.party-content {
  background-color: rgba(255,255,240,0.25);
  padding: 3% 6%;
  padding-left: 5%;
  margin-top: 5%;
  border: 1px solid grey;
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.1);
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.1);
}


/* ERRORS */

.error {
  margin-top: 2%;
  color: firebrick;
}

/* RECEIPT MODAL */

#modal {
  top: 0;
  left: 0;
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  font-family: 'Cutive Mono', monospace;
}

#close-modal {
  float: right;
}

#open-modal {
  color: crimson;
  font-weight: bolder;
}

#modal-content {
  background: white;
  width: 300px;
  margin: 10px auto;
  padding: 10px 25px;
}

.currency {
  float: right;
}


@media screen and (min-width: 480px) {
  input {
    margin-top: 10px;
    width: 30%;
    height: 40px;
  }


}




/* put this here to preserve whitespace*/
